img{
  max-height: 300px;
  /*position: absolute;
  clip: rect(0px,2000px,300px,0px);*/
}

body{
  max-width: 2500px;
}

h1{
  padding: 0 15px;
}

.projects{
  margin: 10px;
  float: left;

}

#about{
  padding: 20px;
  float:left;
}

.thumbnail img{
  height: 250px;
  padding: 1%;
}

.thumbnail:last-of-type{
  align-content: center;
  padding: 10px;
}

.thumbnail:last-of-type h3{
  margin-top: 5px;
}
