img{
  width: 100%;
  max-height: 250px;
  /*position: absolute;
  clip: rect(0px,2000px,300px,0px);*/
}

body{
  max-width: 2500px;
}

h1{
  padding: 0 2%;
}
#nave{
  margin-top: 30px;
}
.container{
  margin-top: 30px;
}
.projects{
  margin: 10px;
  float: left;
}

span{
  font-size: 16px;
  font-weight: bold;
  color: #9e96b7;
  padding-right: 5px;
}
em{
  padding-right: 5px;
}

#about{
  padding: 20px 0;
  float:left;
}

#hobbies img{
  padding: 0 0px;
}
#hobbies{
  margin: 1px;
}


.thumbnail img{
  height: 250px;
  padding: 1%;
}

.thumbnail:last-of-type{
  align-content: center;
  padding: 10px;
}

.thumbnail:last-of-type h3{
  margin-top: 5px;
}

ol{
  padding: 1%;
}

ol li{
  float:left;
  min-width: 80px;
  margin-left: 10px;
}

.foot{
  text-align: center;
  padding: 10px;
}
