img{
  width: 100%;
  max-height: 250px;
  /*position: absolute;
  clip: rect(0px,2000px,300px,0px);*/
}

body{
  max-width: 2500px;
}

h1{
  padding: 0 2%;
}
#nave{
  margin-top: 30px;
}
.container{
  margin-top: 20px;
}
.projects{
  margin: 10px;
  float: left;
}
ul{
  list-style: none;
}
span{
  font-size: 16px;
  font-weight: bold;
  color: #9e96b7;
  padding-right: 5px;
}
em{
  padding-right: 5px;
}

#about{
  padding: 10px 20px 50px 20px;
  line-height: 20px;
  text-align: center;
}

#hobbies{
  margin: .5px;
  /*padding: 1px;*/

}

.thumbnail img{
  height: 250px;
  padding: 1%;
}



.thumbnail:last-of-type h3{
  margin-top: 5px;
}

ol{
  padding: 1%;
}

ol li{
  float:left;
  min-width: 80px;
  margin-left: 10px;
}

.foot{
  text-align: center;
  padding: 10px;
}

@media all and (max-width: 990px) and (min-width: 640px ){
  body{
    background-color: lightgrey;
    font-size: 150%;
  }
  .col-md-3{
    width: 45%;
    float:left;
    margin:2.5%;
    text-align: center;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  .col-md-6{
    width: 100%;
  }
  #hobbies .thumbnail:last-of-type {
    padding-bottom: 100px;
  }
  ol li{
    min-width: 100px;
    margin-left: 10px;
  }
}
